
body
{
    background-image: url("ThinBanner_Solid.png");
    background-repeat: repeat-y;
}

.Banner
{
    background-color: #cae4da;
    display: block;
    float:none;
    border-style: solid;
    text-align: center;
    font-weight: bold;

    ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float: center;
    }

    li 
    {
        padding-Top: 2%;
        display:block;
        float: left;
        padding: 1%;
        text-align: center;
    }

    li a
    {
        text-decoration: none;
    }

    li:hover
    {
        text-decoration: underline;
    }
}

.Top
{
    padding: 0;
    display: flex;

}

h1
{
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
    color: #FA8072;
}

.Information
{
    color:black;
}

.Academics
{
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #dba6a6;
    margin-top: 5%;
    margin-left: 12%;

    h2, h3, p, ul
    {
        padding-left: 2%;
        display: block;
        font-weight: bold;
    }

    .ClassHolder
    {
        ul
        {
            width: 40%;
            margin-top: 25px;
            padding-top: 25px;
            display: inline-block;

            button
            {
                width: 90%;
                height: 50px;
                text-align: left;
                background-image: url("NoNameBg.png");
            }
        }

        .CourseInfo
        {
            width: 55%;
            padding-top: 0;
            display: inline-block;
            vertical-align: top;
            padding-top: 25px;
            margin-top: 25px;
            height: 772px;
        }
    }
}

.Experience
{
    padding-left: 12%;
    h2, p
    {
        padding-left: 2%;
        display: block;
    }

    li{
        background-color: white;
    }
}

.Other
{
    padding-top: 3%;
    padding-left: 12%;

    h2, p
    {
        padding-left: 2%;
        display: block;
    }

    .OtherHolder
    {
        ul
        {
            padding-right: 2%;
        }

        margin-left: 7.5%;
        padding-bottom: 1%;

        .OtherRelevant
        {
            display: inline-block;
            width: 45%;
        }

        .OtherIrrelevant
        {
            display: inline-block;
            width: 45%;
            vertical-align: top;
            height: 217px;
            overflow: scroll;
        }
    }
}

.Summary
{
    padding-top: 3%;
    padding-left: 12%;
    margin-bottom: 2%;

    h2
    {
        padding-left: 2%;
    }

    .SummaryNav
    {
        display: inline-block;
        padding-left: 2%;
        
        h3
        {
            padding-left: 6%;
        }
    }

    .SummaryInfo
    {
        display: inline-block;
        vertical-align: top;
        width: 80%;
        height: 222px;

        p
        {
            padding-left: 2%;
        }   
    }
}

.Contacts
{
    border-style: solid;
    background-color: #cae4da;

    h2, h3
    {
        padding-left: 2%;
    }
}