h1{
    font-size: 100px;
    color: black;
}

.Information
{
    color:black;
    background-color: moccasin;
}

.Summary 
{ 
    color: #355C7D;
    background-color: white;
    width: auto;
    height: auto;
}